body {
    color:white;
    background-color: black;
}
p {
    text-align: center;      
}

#bounce_ny {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 450px;
}

#bounce_xmas {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    bottom: 450px;
}