body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: rgb(221, 221, 221);
}

.container {
  background-color: rgb(46, 52, 73);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  margin: 0 55px;
  padding: 25px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 40px 20px #0ff;
}

.counter p {
  margin: 0;
  font-size: large;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .counter {
    margin: 55px 0;
  }
}
